/ByteQueue.class
/NativeSerial.class
/SerialPort.class
/SerialPortEvent.class
/SerialPortListener.class
/TOSCommJNI.class
/TOSSerial$EventDispatcher.class
/TOSSerial$SerialInputStream.class
/TOSSerial$SerialOutputStream.class
/TOSSerial.class
/UnsupportedCommOperationException.class
